<footer class="footer yellow">
	<div class="container py-5">
  		<div class="row py-3">
  			<div class="col-xs-12 col-md-6">
	  			<p class="text-muted"><strong>Studium is published under the supervision of Martin Luther College, New Ulm, Minnesota.</strong>
	  			<p><small class="text-muted">
	  			ISSN 1553-5835<br />
    			CC BY-NC-ND 4.0 2002-{{ site.time | date: '%Y' }}
    			</small></p>
  			</div>
  			<div class="col-xs-12 col-md-2">
  				<strong>Resources</strong>
  				<ul class="list-unstyled">
  				{% assign pages_list = site.pages %}
      			{% for node in pages_list %}
        			{% if node.title != null %}
          				{% if node.navigation == "secondary" %}
           				<li><a href="{{ node.url }}">{{ node.title }}</a></li>
          				{% endif %}
        			{% endif %}
      			{% endfor %}
      			</ul>
      		</div>
	  		<div class="col-xs-12 col-md-2">
  				<strong>Browse</strong>
	  			<ul class="list-unstyled">
	  			{% assign pages_list = site.pages %}
	      		{% for node in pages_list %}
	        		{% if node.title != null %}
	          			{% if node.navigation == "primary" %}
    	       			<li><a href="{{ node.url }}">{{ node.title }}</a></li>
    	      			{% endif %}
    	    		{% endif %}
	      		{% endfor %}
    	  		</ul>
  			</div>
	  	</div>
  	</div>
</footer>