/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

.yellow {
	background-color: #FFE378;
}

.bg-gray {
	background-color: #F4F4F4;
}

body {
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

.lead {
	font-family: "Alegreya Sans," sans-serif;
	font-size: 1.3em;
}

h1, h2, h3, h4, h5 {
	font-family: "Alegreya";
	font-weight: 700;
}

blockquote {
	padding-left: 1em;
	border-left: 5px solid #F0F0F0;
}

/*
 * Specific styles
 *
 * Particular styles for the Studium website.
 */

.wordmark {
	font-family: "Alegreya SC", serif;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.translation-title {
	font-family: "Alegreya";
	font-weight: 700;
	font-style: italic;
	font-size: 3em;
}

.translation-content {
	font-size: 1.2em;
}

.preface {
	background-color: #F0F0F0;
}

.post-meta {
	font-family: "Alegreya Sans SC";
	text-transform: lowercase;
}

.badge, .btn {
	font-family: "Alegreya Sans SC";
	text-transform: lowercase;
}