---
layout: page
title: Translations
navigation: primary
---
<h1>Translations</h1>

<p class="lead">Studium has published {{ site.translations | size }} English translations of German and Latin works from Lutheran theological literature. The full list of translations is below.



<div class="row">			
					{% for node in site.translations %}
						<div class="col-12 col-md-6 col-lg-4 mb-5 border-left">
							<strong style="font-size: 1.1em; line-height: 1em;"><a href="{{ node.url }}" class="text-secondary">{{ node.title }}</a></strong>
							{% assign authors = site.authors | where: 'shortname', node.author %}
							{% for author in authors %}
							<br><strong class="sc">by {{ author.firstname }} {{ author.lastname }}</strong>
							{% assign translators = site.contributors | where: 'shortname', node.translator %}
							{% for translator in translators %}
							<br><small class="text-muted sc">translated by {{ translator.firstname }} {{ translator.lastname }}</small>
							<br>{{ node.brief }}
							{% endfor %}<!-- endfor author in authors -->	
							{% endfor %}<!-- endfor translator in translators -->
						</div><!-- /col -->
					{% endfor %}<!-- endfor node in translations -->
		
	</div><!-- /row -->