---
layout: default
---

<div class="container">
	
	<div class="row py-3 my-3">
		<div class="col col-md-8 ml-auto">
		
			<!-- Page title, e.g. "Issue 10" -->
			<h1>{{ page.firstname }} {{ page.lastname }}{% if page.born %}<br><span class="text-muted">{{ page.born}}–{% endif %}</span>{% if page.died %}<span class="text-muted">{{ page.died }}{% endif %}</h1>
			
		</div><!-- /col -->
		
		<div class="col col-md-2 mr-auto text-right">
			
			<!-- Button to go back to the Authors page -->
			<a href="{% link pages/authors.html %}" class="btn btn-sm btn-light"><small><i class="fas fa-arrow-left "></i></small> Browse Authors</a>

		</div><!-- /col -->

		
		<div class="col-md-10 mx-auto">	
			
			<div class="lead">{{ content }}</div> <!-- in this case the author's short bio -->
			{% assign bios = site.bios | where: 'about', page.shortname %}
			{% for node in bios %}
			<p><a class="btn btn-lg btn-outline-secondary" href="{{ node.url }}"><small><i class="fas fa-user-circle"></i></small> Biography</a></p>
			{% endfor %}

<h2 class="sc border-bottom pb-3 mb-3 mt-5"><small><i class="fas fa-pen-nib text-secondary"></i></small> From This Author</h2>
	
	<div class="row">
		
				{% assign translations = site.translations | where: 'author', page.shortname %}
				{% for node in translations %}
				<div class="col-12 col-md-6 col-lg-4 mb-5 border-left">
							<strong style="font-size: 1.1em; line-height: 1em;"><a href="{{ node.url }}">{{ node.title }}</a></strong>
							{% assign translators = site.contributors | where: 'shortname', node.translator %}
							{% for translator in translators %}
							<br><small class="sc text-muted">Translated by {{ translator.firstname }} {{ translator.lastname }}</small>
							<br>{{ node.brief }}
							{% endfor %}<!-- endfor translator in translators -->
				</div><!-- /col -->
				{% endfor %}<!-- endfor node in translations -->
	</div><!-- /row -->
</div>
	</div><!-- /row -->
</div><!-- /container -->