---
layout: default
---

<div class="container">
	<div class="row my-3 py-3">
		<div class="col col-lg-10 mx-auto">
	

{% assign authors = site.ogauthors | where: 'shortname', page.about %}

<h1>{{ page.title }}&ensp;<span class="text-muted">{% for subject in authors %}{{ subject.born }}{% endfor %}–{% for subject in authors %}{{ subject.died }}{% endfor %}</span></h1>
<div class="text-muted contributor-byline mb-5">
				{% assign contributors = site.contributors | where: 'shortname', page.contributor %}
				{% for person in contributors %}
					Biography by {{ person.firstname }} {{ person.lastname }}
				{% endfor %}
</div>

{{ content }}

</div>
</div>
</div>

