---
layout: default
---

<div class="container">

	<div class="row py-3 my-3">
		<div class="col col-md-7 ml-auto">
		
			<!-- Page title, e.g. "Issue 10" -->
			<h1>{{ page.firstname }} {{ page.lastname }}</h1>
			
		</div><!-- /col -->
		<div class="col col-md-3 mr-auto text-right">
			
			<!-- Button to go back to the Contributor's page -->
			<a href="{% link pages/contributors.html %}" class="btn btn-light"><small><i class="fas fa-arrow-left "></i></small> Browse Contributors</a>

		</div><!-- /col -->

		<div class="col col-lg-10 mx-auto">
			
			<div class="lead">{{ content }} <!-- in this case the translator's short bio, if available --></div>

			<h2 class="sc border-bottom pb-3 mb-3"><small><i class="fas fa-pen-nib text-secondary"></i></small> From This Contributor</h2>

			<div class="row">
				{% assign translations = site.translations | where: 'translator', page.shortname %}
				{% for node in translations %}
				<div class="col-12 col-md-6 col-lg-4 mb-5 border-left">
							<strong style="font-size: 1.1em; line-height: 1em;"><a href="{{ node.url }}">{{ node.title }}</a></strong>
							{% assign authors = site.authors | where: 'shortname', node.author %}
							{% for author in authors %}
							<br><strong class="sc">by {{ author.firstname }} {{ author.lastname }}</strong>
							<br>{{ node.brief }}
							{% endfor %}<!-- endfor author in authors -->	
						</div><!-- /col -->
				{% endfor %}<!-- endfor node in translations -->
			</div><!-- /row -->

		</div><!-- /col -->
	</div><!-- /row -->
</div><!-- /container -->