---
layout: default
---

<div class="container my-3 py-3">
	<div class="row">
		<div class="col-sm-10 mx-auto my-5 pb-5 border-bottom border-primary text-center">
			<h1 class="translation-title">{{ page.title }}</h1>
			<div class="author-byline">
				{% assign authors = site.authors | where: 'shortname', page.author %}
				{% for author in authors %}
					by {{ author.firstname }} {{ author.lastname }}
				{% endfor %}
			</div>
			<div class="text-muted contributor-byline">
				{% assign translators = site.contributors | where: 'shortname', page.translator %}
				{% for person in translators %}
					translated by {{ person.firstname }} {{ person.lastname }}
				{% endfor %}
			</div> 
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 mx-auto">
			{{ content }}
		</div>
	</div>
</div>